.App {
  margin: 0 auto;
  background: var(--ufs-normal-bg-color);
  min-height: 100vh;
}

.main {
  padding: 16px;
}

.item + .item {
  margin-top: 16px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: var(--ufs-normal-text-color);
}

